{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block stylesheets %}
 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('indexStructurejs') }}
{% endblock %}

{% block body %}
{% if  is_granted('ROLE_ADMIN') %}

    <h1 class="text-center mb-5 titre-structure-index">Liste des structures</h1>

    <div class="text-center mb-5">
        <a class="btn-center btn-new-structure" href="{{ path('app_structure_new') }}">Nouvelle Structure</a>
    </div>

    
   <div class="row row-filters">
   <div class="col">
   <form id="form_recherche"  method="POST" class="search-structure">
        <input type="search" name="recherche[]" id="search" placeholder="recherche">
   </form>
   </div>

    <div class="filtre-structure col row">
        <h5 class="titre-filtre-statut col">STATUT</h5>

            <form id="filters" class="col">
                <div class="checkbox">
                    <input type="checkbox" name="statut[]" value="1" id="actif">
                    <label for="actif">Actif</label>
                </div>
        
                <div class="checkbox">
                    <input type="checkbox" name="statut[]" value="" id="inactif">
                    <label for="inactif">Inactif</label>
                </div>
            </form>
    </div>
    <div class="col"></div>
    </div>
   
      <div id="formCheck">
     {% include 'structure/structureList.html.twig' %}
     </div>   

    {% elseif is_granted('ROLE_STRUCTURE') %}

        <div class="text-center mb-5">
            <h1 class="text-center mb-5 titre-structure-index">Structure {{ app.user.structures.nom }}</h1>
            {% if (app.user.structures.statut == true) %}
                <span class="statut-structure-index statut-actif">{{ app.user.structures.statut ? 'Actif' : 'Inactif' }}</span>
            {% elseif (app.user.structures.statut == false) %}
                <span class="statut-structure-index statut-inactif">{{ app.user.structures.statut ? 'Actif' : 'Inactif' }}</span>
            {% endif %}
        </div>
        
        <div class="container-structure-info">
            <div class="info-structure-index row">
                <span class="titre-info-structure-index col">Adresse :</span>
                <span class="value-info-structure-index col">{{ app.user.structures.adresse }}</span>
            </div>

            <div class="info-structure-index row">
                <span class="titre-info-structure-index col">Code Postal : </span>
                <span class="value-info-structure-index col">{{ app.user.structures.codePostal }}</span>
            </div>

            <div class="info-structure-index row">
                <span class="titre-info-structure-index col">Ville :</span>
                <span class="value-info-structure-index col">{{ app.user.structures.ville }}</span>
            </div>

            <div class="info-structure-index row">
                <span class="titre-info-structure-index col">Gérant :</span>
                <span class="value-info-structure-index col">{{ app.user.structures.nomGerant }}</span>
            </div>
       
        </div>


        <h2 class="text-center">Liste des modules</h1>
            <table class="table table-hover container">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Statut</th>
                    </tr>
                </thead>
            <tbody>

                {% for module in app.user.structures.modules %}
                <tr>
                    <td>{{ module.module.nom }}</td>
                    <td>{{ module.isActive ? 'Actif' : 'Inactif' }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

    {% endif %}
{% endblock %}
