{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
    <h1>Structure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code_postal</th>
                <th>Ville</th>
                <th>Statut</th>
                <th>Nom_gerant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
                <td>{{ structure.id }}</td>
                <td>{{ structure.nom }}</td>
                <td>{{ structure.adresse }}</td>
                <td>{{ structure.codePostal }}</td>
                <td>{{ structure.ville }}</td>
                <td>{{ structure.statut ? 'Yes' : 'No' }}</td>
                <td>{{ structure.nomGerant }}</td>
                <td>
                    <a href="{{ path('app_structure_show', {'id': structure.id}) }}">show</a>
                    <a href="{{ path('app_structure_edit', {'id': structure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_structure_new') }}">Create new</a>
{% endblock %}
