{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
{% if  is_granted('ROLE_ADMIN') %}

    <h1>Liste des structures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code_postal</th>
                <th>Ville</th>
                <th>Statut</th>
                <th>Nom_gerant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
                <td>{{ structure.id }}</td>
                <td>{{ structure.nom }}</td>
                <td>{{ structure.adresse }}</td>
                <td>{{ structure.codePostal }}</td>
                <td>{{ structure.ville }}</td>
                <td>{{ structure.statut ? 'Actif' : 'Inactif' }}</td>
                <td>{{ structure.nomGerant }}</td>
                <td>
                    <a href="{{ path('app_structure_show', {'id': structure.id}) }}">show</a>
                    <a href="{{ path('app_structure_edit', {'id': structure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_structure_new') }}">Create new</a>

    {% elseif is_granted('ROLE_STRUCTURE') %}

        <div>Structure {{ app.user.structures.nom }}</div>
        <div>Statut: {{ app.user.structures.statut ? 'Actif' : 'Inactif' }}</div>

        <div>Adresse: {{ app.user.structures.adresse }}</div>
        <div>Code Postal: {{ app.user.structures.codePostal }}</div>
        <div>Ville: {{ app.user.structures.ville }}</div>
        <div>Gérant: {{ app.user.structures.nomGerant }}</div>

        <h2>Modules par défaut</h2>
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
        {% for modules in app.user.structures.partenaire.modules %}
            {% if modules.statut == true %}
                <tr>
                <td>{{ modules.id }}</td>
                <td>{{ modules.nom }}</td>
                <td>{{ modules.statut ? 'Actif' : 'Inactif' }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>

        <h2>Liste des modules</h1>
         <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>

                {% for modules in app.user.structures.modules %}
                <tr>
                <td>{{ modules.id }}</td>
                <td>{{ modules.nom }}</td>
                <td>{{ modules.statut ? 'Actif' : 'Inactif' }}</td>
                </tr>
                {% endfor %}
        </tbody>
        </table>

    {% endif %}
{% endblock %}
