{% extends 'base.html.twig' %}

{% block title %}Détails Structure{% endblock %}
{% block meta_description %}Page de visualisation des détails concernant une structure ainsi que des modules rattachés à celle-ci{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('showStructure') }}
{% endblock %}

{% block body %}

    {# VUE SEULEMENT DU ROLE ADMIN #}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn-retour-show-structure" href="{{ path('app_structure_index') }}">Retour</a>
    {% elseif  is_granted('ROLE_PARTENAIRE') %}
        <a class="btn-retour-show-structure" href="{{ path('app_partenaire_index', {'id': structure.partenaire.id}) }}">Retour</a>
    {% endif %}

    
    <h1 class="titre-structure-show text-center">{{ structure.nom }}</h1>

    {# VUE SEULEMENT DU ROLE ADMIN #}
    {% if  is_granted('ROLE_ADMIN') %}
    <div class="global-button-edit-structure">

        <a class="button-edit-structure" href="{{ path('app_structure_edit', {'id': structure.id}) }}">
            Modifier
        </a>

    </div>
    {% endif %}

    <table class="table table-hover container mb-5">
        <tbody class="tr-show-structure">
            <tr>
                <th class="th-show-structure">Nom</th>
                <td>{{ structure.nom }}</td>
            </tr>
            <tr>
                <th class="th-show-structure">Adresse</th>
                <td>{{ structure.adresse }}</td>
            </tr>
            <tr>
                <th class="th-show-structure">Code Postal</th>
                <td>{{ structure.codePostal }}</td>
            </tr>
            <tr>
                <th class="th-show-structure">Ville</th>
                <td>{{ structure.ville }}</td>
            </tr>
            <tr>
                <th class="th-show-structure">Statut</th>
                <td>{{ structure.statut ? 'Actif' : 'Inactif' }}</td>
            </tr>
            <tr>
                <th class="th-show-structure">Nom gérant</th>
                <td>{{ structure.nomGerant }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <aside class="aside-structure-show" id="formCheckModule">
        <h2 class="titre-structure-show-h2 text-center">Modules structure</h2>

        {# Modification dynamique des modules structure #}
        <div class="form-check form-switch form-check-structure-show">
            {% for module in structure.modules %}
            {% if module.module.statut == true %}
            <input 
            class="form-check-input"
            type="checkbox"
            id="{{ module.id }}"
            name="{{ module.module.nom }}"
            value="{{ module.isActive }}"
            {% if module.isActive == true %}
                checked
            {% endif %}
            data-id ="{{ module.id }}"
            data-path = "{{ path('app_structure_edit_module', {id: structure.id }) }}"
            data-toggle="modal"
            data-target="#exampleModal"
            >
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modification module</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Êtes-vous sûre de vouloir activer/désactier ce module?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                            <button type="button" class="btn btn-primary">Oui</button>
                        </div>
                    </div>
                </div>
            </div>
            <label class="form-check-label form-check-partenaire-show-label" for="{{ module.id }}">
                {{ module.module.nom }}
            </label>  
            {% endif %}
            {% endfor %}
        </div>
    </aside>

    {% elseif is_granted('ROLE_PARTENAIRE') %}
    <aside>
        <h2 class="titre-structure-show-h2 text-center">Modules structure</h2>

        <div id="formCheckModule" class="form-check form-switch form-check-structure-show">
            {% for module in structure.modules %}
            {% if module.module.statut == true %}
            <input 
            class="form-check-input"
            type="checkbox"
            id="{{ module.id }}"
            name="{{ module.module.nom }}"
            value="{{ module.isActive }}"
            {% if module.isActive == true %}
                checked
            {% endif %}
            disabled
            >
            <label class="form-check-label form-check-partenaire-show-label" for="{{ module.id }}">
                {{ module.module.nom }}
            </label> 
            {% endif %}
            {% endfor %}
        </div>
    </aside>
    {% endif %}
{% endblock %}
