{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}
{% block meta_description %}Connecter vous via cette page au Back Office de l'enseigne Stay Fit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    html, body 
    {
    background-color: #2c4d90;
    }
    </style>
{% endblock %}


{% block body %}
    <div class="body">
        <img class="logo logo-connexion" src="{{ asset('images/logo.png') }}" alt="Logo">
    </div>
    
    <form class="form-signin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if csrf_token('authenticate') %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        {% endif %}

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" value="{{ last_username }}" id="inputEmail" class="form-control email" placeholder="Email" required autofocus>

        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

        <button class="btn btn-lg btn-primary btn-block btn-connexion" type="submit">
            Connexion
        </button>
    </form>
{% endblock %}

