{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('../assets/styles/editUser.css') }}" rel="stylesheet">
    <link href="{{ asset('../assets/styles/newUser.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

   <a class="btn-retour-edit-utilisateur" href="{{ path('app_user_index') }}">Retour</a>

   <h1 class="titre-utilisateur-edit text-center">Modifier Utilisateur</h1>

   {{ include('registration/register.html.twig', {'button_label': 'Enregistrer'}) }}


{% endblock %}