{% block title %}Nouveau mot de passe{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('newMotDePasse') }}
{% endblock %}
 
{% block body %}
<h1 class="titre-new-mot-de-passe">Renouvellement du mot de passe</h1>
{{form_start(form, {'attr' : {'class' : 'form-new-motdepasse'}})}}

<div class="form-container-new-motdepasse">
	{{form_row(form.plainPassword.first)}}
	{{form_row(form.plainPassword.second)}}
</div>

<div class="container-btn-save-motdepasse">
	<button class="btn-save-motdepasse btn"  type="submit">Envoyer</button>
</div>

{{form_end(form)}}
{% endblock %}