
{{ form_start(registrationForm, {'attr' : {'class' : 'form-save-utilisateur'}}) }}

    <div class="form-container-row-utilisateur-save">
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
    </div>

    <div class="form-container-row-utilisateur-save-statut text-center">
        {{ form_row(registrationForm.statut) }}
    </div>


    <div class="form-container-row-utilisateur-save-autres">
        {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.partenaires) }}
        {{ form_row(registrationForm.structures) }}
     </div>
        
    <div class="container-btn-save-utilisateur">
        <button type="submit" class="btn btn-save-utilisateur">Enregistrer</button>
    </div>

        
     {{ form_end(registrationForm) }}

{% block javascripts %}

{% endblock %}

