{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showUser') }}
{% endblock %}

{% block body %}
    <a class="btn-retour-show-utilisateur" href="{{ path('app_user_index') }}">Retour</a>

    <h1 class="titre-utilisateur-show text-center">{{ user.prenom|capitalize }} {{ user.nom|capitalize }}</h1>

    <span class="global-button-edit-utilisateur">
        <a class="button-edit-utilisateur text-center" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
    </span>

    <table class="table table-hover container">
        <tbody class="tr-show-utilisateur">
            <tr>
                <th class="th-show-utilisateur">Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th class="th-show-utilisateur">Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th class="th-show-utilisateur">Prénom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th class="th-show-utilisateur">Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th class="th-show-utilisateur">Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th class="th-show-utilisateur">Statut</th>
                <td>{{ user.statut ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th class="th-show-utilisateur">Date de connexion</th>
                <td>{{ user.dateConnexion ? user.dateConnexion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}