{% extends 'base.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block body %}

{% if  is_granted('ROLE_ADMIN') %}
    <h1>Partenaire(s)</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partenaire in partenaires %}
            <tr>
                <td>{{ partenaire.id }}</td>
                <td>{{ partenaire.nom }}</td>
                <td>{{ partenaire.statut ? 'Actif' : 'Inactif' }}</td>
                
                <td>
                    <a href="{{ path('app_partenaire_show', {'id': partenaire.id}) }}">show</a>
                    <a href="{{ path('app_partenaire_edit', {'id': partenaire.id}) }}">edit</a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_partenaire_new') }}">Create new</a>
    
    {% elseif is_granted('ROLE_PARTENAIRE') %}

        <div>Partenaire {{ app.user.partenaires.nom }}</div>
        <div>Statut: {{ app.user.partenaires.statut ? 'Actif' : 'Inactif' }}</div>

        <h2>Structures</h2>
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

                {% for structures in app.user.partenaires.structures %}
                <tr>
                <td>{{ structures.id }}</td>
                <td>{{ structures.nom }}</td>
                <td>{{ structures.statut ? 'Actif' : 'Inactif' }}</td>
                </tr>
                {% endfor %}
        </tbody>
        </table>

        <h2>Modules par défaut</h2>  
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>

                {% for modules in app.user.partenaires.modules %}
                <tr>
                <td>{{ modules.id }}</td>
                <td>{{ modules.nom }}</td>
                </tr>
                {% endfor %}
        </tbody>
        </table>

    {% endif %}



{% endblock %}
