{% extends 'base.html.twig' %}

{% block title %}Partenaire{% endblock %}
{% block meta_description %}Liste des partenaires StayFit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('indexPartenaire') }}
{% endblock %}

{% block body %}


{# VUE DU ROLE ADMIN #}
{% if  is_granted('ROLE_ADMIN') %}

    <h1 class="text-center mb-5 titre-partenaire-index">Liste des partenaires</h1>

    <div class="text-center mb-5">
        <a class="btn-center btn-new-partenaire" href="{{ path('app_partenaire_new') }}">Nouveau Partenaire</a>
    </div>

   <div class="row row-filters">
        <div class="col search">
            <form id="form_recherche"  method="POST" class="search-partenaire">
                <input type="search" name="recherche[]" id="search" placeholder="recherche">
            </form>
        </div>

    
        <div class="filtre-partenaire col row">
            <p class="titre-filtre-statut col">STATUT</p>
            <form id="filters" class="col">
                <div class="checkbox">
                    <input type="checkbox" name="statut[]" value="1" id="actif">
                    <label for="actif">Actif</label>
                </div>
        
                <div class="checkbox">
                    <input type="checkbox" name="statut[]" value="" id="inactif">
                    <label for="inactif">Inactif</label>
                </div>
            </form>
        </div>
    </div>

    <div id="formCheck" class="table-responsive">
        {% include 'partenaire/partenaireList.html.twig' %}
    </div>

{# VUE DU ROLE PARTENAIRE #}
{% elseif is_granted('ROLE_PARTENAIRE') %}

    <div class="text-center mb-5">
        <h1 class="titre-partenaire-index">Partenaire {{ app.user.partenaires.nom }}</h1>

        {# Ajout personnalisé du statut partenaire #}
        {% if (app.user.partenaires.statut == true) %}
            <span class="statut-partenaire-index statut-actif">{{ app.user.partenaires.statut ? 'Actif' : 'Inactif' }}</span>
        {% elseif (app.user.partenaires.statut == false) %}
            <span class="statut-partenaire-index statut-inactif">{{ app.user.partenaires.statut ? 'Actif' : 'Inactif' }}</span>
        {% endif %}
    </div>

    <div class="text-center">
        <p class="titre-partenaire-index-h2">Liste des structures</p>
            
            <div id="formCheck" class="col">
                {% include 'partenaire/structureList.html.twig' %}
            </div>  
    </div>

    <h2 class="titre-partenaire-index-h2 mt-5 text-center">Modules par défaut</h2>

        <ul class="container modules-defaut-index-partenaire">
            {% for module in app.user.partenaires.modules %}
                {% if module.statut == true %}
                    <li class="modules-defaut-index-partenaire-liste">{{ module.nom }}</li>
                {% endif %}
            {% endfor %}
        </ul>
{% endif %}
{% endblock %}
