{% extends 'base.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
     {{ encore_entry_script_tags('indexPartenairejs') }}
{% endblock %}

{% block body %}

{% if  is_granted('ROLE_ADMIN') %}

    <h1 class="text-center mb-5 titre-partenaire-index">Liste des partenaires</h1>

    <div class="text-center mb-5">
        <a class="btn-center btn-new-partenaire" href="{{ path('app_partenaire_new') }}">Nouveau Partenaire</a>
    </div>

   <div class="row row-filters">
   <div class="col">
   <form id="form_recherche"  method="POST" class="search-partenaire">
        <input type="search" name="recherche[]" id="search" placeholder="recherche">
   </form>
   </div>

    
    <div class="filtre-partenaire col row">
        <h5 class="titre-filtre-statut col">STATUT</h5>
            <form id="filters" class="col">
                <div class="checkbox">
                    <input type="checkbox" name="statut[]" value="1" id="actif">
                    <label for="actif">Actif</label>
                </div>
        
                <div class="checkbox">
                    <input type="checkbox" name="statut[]" value="" id="inactif">
                    <label for="inactif">Inactif</label>
                </div>
            </form>
    </div>
    <div class="col"></div>
</div>

    <div id="formCheck">
   {% include 'partenaire/partenaireList.html.twig' %}
   </div>
    
    {% elseif is_granted('ROLE_PARTENAIRE') %}

        <div class="text-center mb-5">
            <h1 class="titre-partenaire-index">Partenaire {{ app.user.partenaires.nom }}</h1>

            {% if (app.user.partenaires.statut == true) %}
                <span class="statut-partenaire-index statut-actif">{{ app.user.partenaires.statut ? 'Actif' : 'Inactif' }}</span>
            {% elseif (app.user.partenaires.statut == false) %}
                <span class="statut-partenaire-index statut-inactif">{{ app.user.partenaires.statut ? 'Actif' : 'Inactif' }}</span>
            {% endif %}
        </div>

        <div class="text-center">
            <h2 class="titre-partenaire-index-h2">Liste des structures</h2>
            
            <div id="formCheck" class="col">
                {% include 'partenaire/structureList.html.twig' %}
            </div>
        
        </div>

        <h2 class="titre-partenaire-index-h2 mt-5 text-center">Modules par défaut</h2>

        <ul class="container modules-defaut-index-partenaire">
            {% for module in app.user.partenaires.modules %}
            <li class="modules-defaut-index-partenaire-liste">{{ module.nom }}</li>
            {% endfor %}
        </ul>
  
    {% endif %}
{% endblock %}
