{% extends 'base.html.twig' %}

{% block title %}Edit Module{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('editModule') }}
    <link href="{{ asset('../assets/styles/newModule.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <a class="btn-retour-edit-module" href="{{ path('app_module_index') }}">Retour</a>
    <h1 class="titre-module-edit text-center">Modifier Module</h1>

    {{ include('module/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
