{% extends 'base.html.twig' %}

{% block title %}Module{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('../assets/styles/showModule.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <a class="btn-retour-show-module" href="{{ path('app_module_index') }}">Retour</a>

    <h1 class="titre-module-show text-center">{{ module.nom }}</h1>

    <div class="global-button-edit-module mb-5">
      <a class="button-edit-module" href="{{ path('app_module_edit', {'id': module.id}) }}">Modifier</a>
    </div>


    <table class="table table-hover container">
        <tbody class="tr-show-module">
            <tr>
                <th class="th-show-module">Id</th>
                <td>{{ module.id }}</td>
            </tr>
            <tr>
                <th class="th-show-module">Nom</th>
                <td>{{ module.nom }}</td>
            </tr>
            <tr>
                <th class="th-show-module">Statut</th>
                <td>{{ module.statut ? 'Actif' : 'Inactif' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
