<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-bg mb-5">
            <a style="margin-left: 75px; color: #2c4d90;" class="navbar-brand space-brand" href="{{ path('app_home') }}">Stay Fit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                       <a style="color: black;" class="nav-link" href="{{ path('app_user_index') }}">Utilisateurs</a>
                     </li>
                     <li class="nav-item">
                       <a style="color: black;" class="nav-link" href="{{ path('app_partenaire_index') }}">Partenaires</a>
                     </li>
                     <li class="nav-item">
                       <a style="color: black;" class="nav-link" href="{{ path('app_structure_index') }}">Structures</a>
                     </li>
                     <li class="nav-item">
                       <a style="color: black;" class="nav-link" href="{{ path('app_module_index') }}">Modules</a>
                     </li>
                   </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info my-2 my-sm-0" type="submit">Recherche</button>
                </form>
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a style="color: black;" class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a style="color: black;" class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
